h2 {{title}}

table.table.table-bordered.center
  thead
    tr
      th title
      th Body
      th Created ON
    tbody
      tr(ng-repeat='n in notes')
        td {{n.title}}
        td {{n.body}}
        td {{n.createdOn}}


.row
  .small-12.columns
    form
      .row
        .small-6.columns
          label(for='title') Title
          input#title(type='text', name='title', ng-model='note.title', autofocus)
        .small-6.columns
      .row
        .small-6.columns
          label(for='body') Content
          input#body(type='text', name='body', ng-model='note.body')
        .small-6.columns
      .row
        .small-6.columns
          button(ng-click='submit()') Add Note
        .small-6.columns

.row
  .small-12.columns
    form
      .row
        .small-6.columns
          label(for='tag') Tag
          input#tag(type='text', name='tag', ng-model='tag.name')
          button(ng-click='submitTag()') Add Tag