h2 {{title}}

table.table.table-bordered.center
  thead
    tr
      th title
      th Body
      th Created ON
    tbody
      tr(ng-repeat='n in notes')
        td {{n.title}}
        td {{n.body}}
        td {{n.createdOn}}